
/*------------------------------------------------------------------------------
DEFAULT- FLEXBOX
------------------------------------------------------------------------------*/
.row {
	display: flex;
	justify-content: space-between;
	
}


/*------------------------------------------------------------------------------
COLUMN OF 4
------------------------------------------------------------------------------*/
.col-1-of-4 {
	width: 20%;
	;
}

.col-2-of-4 {
	width: 45%;
}

.col-3-of-4 {
	width: 70%;
}




/*------------------------------------------------------------------------------
COLUMN OF 3
------------------------------------------------------------------------------*/

.col-1-of-3 {
	width: 30%;
}

.col-2-of-3 {
	width: 60%;
}


@media(min-width:300px) and (max-width: 675px) {
	.row{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	 .col-1-of-4 {
	width: 100%;
	
	padding-bottom: 1em;
}
 
    .col-2-of-4 {
	width: 100%;
	
	padding-bottom: 1em;
}

.col-1-of-3 {
	width: 100%;
	justify-content: space-around;
}
}